
    /* GLOBAL STYLES
-------------------------------------------------- */
    /* Padding below the footer and lighter body text */
body {
      height: auto;
      color: #5a5a5a;
      font-family: 16px/1.5 Verdana, Helvetica, Arial, sans-serif;
    }

    /*  THE NAVBAR
-------------------------------------------------- */
.menuBar {
  overflow: hidden;
  background-color: #2d2d30;
  border-radius: 5px 5px 0 0;
  display: flex;
  display: -webkit-flex; /* Safari */
  justify-content: space-around;
  -webkit-justify-content: space-around; /* Safari 6.1+ */
}

.menuBar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menuBar a:hover {
  background-color: #ddd;
  color: black;
}

.menuBar .icon {
  display: none;
}

    /* THE CAROUSEL
-------------------------------------------------- */

.carousel-inner{
max-height: 400px;
}
    
/*-----------------fading animation---------------*/
.carousel-animate-fading{
	animation:fading 10s infinite
	}
	@keyframes fading{
		0%{opacity:0}
		50%{opacity:1}
		100%{opacity:0}
	}
/*-------------------------------------------------*/
/*.future-content{max-width:980px;margin:auto}
.future-section,.w3-code{margin-top:16px!important;margin-bottom:16px!important}
*/
/*-----------------------------------------------------*/


/*------------------------------------------------------*/




